.css-1t6c9ts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;
}
:root{
    /*colores*/
    --primario: #26a9e1;
    --secundario: #ffffff;
    --primario-claro: #16c6cc;
    --secundario-claro: #e6e6e6;
    --fondo:#e6e6e6;
    --negro: black;
    --blanco: white;
    --gris: cacaca; 
    /*tamaño*/
    --texto-base: 18px;

    /*espacios*/
    --s: 10px;
    --m: 18px;
    --l: 24px;
    --xl: 32px;
    --xxl: 40px;
}
h1{font-size: 44.79px;}
h2{font-size: 37.32px;}
h3{font-size: 31.10px;}
h4{font-size: 25.92px;}
h5, .lead{font-size: 21.60px;}
h6, p{font-size: 18.00px;}
small{font-size: 15px;}
